.Todo {
  padding: 10px 20px;
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.45);
  width: 800px;
  border-radius: 8px;
  opacity: 1;

  &.completed {
    background-color: lightgreen;
    opacity: 0.5;
  }

  .task {
    font-size: 14px;
    font-weight: bold;
  }

  .isDone {
    font-size: 12px;
  }
}
