.Todo {
  padding: 10px 20px;
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.45);
  width: 500px;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &:hover,
  &:active {
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.45);
  }

  &.completed {
    opacity: 0.5;
  }

  .task {
    font-size: 15px;
    font-weight: bold;
  }

  .checkboxInput {
    scale: 1.2;
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}
